.service-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: white;

  height: 100%;

  .service-inner {
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: white;
    width: 60%;
  }
}

.service-list-container {
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;

  .service-list-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    ul {
      display: grid
    }
  }
}