.service-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: white;

  height: 100%;

  .service-inner {
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: white;
    width: 60%;
    text-align: center;

    h2 {
      font-size: 4em;
    }
  }
}

.service-list-container {
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;

  .service-list-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    ul {
      display: grid;
      font-size: 1.3em;
      width: 100%;
      height: 300px;
      padding: 0;
      margin: 0;
      
      li {
        justify-content: center;
        align-content: center;
        align-items: center;
        margin: 10px;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .service-container {
    li {
      font-size: 1em;
    }
  }
}